OF.FSimMan.Objects/Game/Fs/Fs22/SaveGame/careerSavegame.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="careerSavegame">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="settings">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="savegameName" type="xs:string" />
							<xs:element name="creationDate" type="xs:date" />
							<xs:element name="mapId" type="xs:string" />
							<xs:element name="mapTitle" type="xs:string" />
							<xs:element name="saveDateFormatted" type="xs:string" />
							<xs:element name="saveDate" type="xs:date" />
							<xs:element name="resetVehicles" type="xs:boolean" />
							<xs:element name="trafficEnabled" type="xs:boolean" />
							<xs:element name="stopAndGoBraking" type="xs:boolean" />
							<xs:element name="trailerFillLimit" type="xs:boolean" />
							<xs:element name="automaticMotorStartEnabled" type="xs:boolean" />
							<xs:element name="growthMode" type="xs:unsignedByte" />
							<xs:element name="plannedDaysPerPeriod" type="xs:unsignedByte" />
							<xs:element name="fruitDestruction" type="xs:boolean" />
							<xs:element name="plowingRequiredEnabled" type="xs:boolean" />
							<xs:element name="stonesEnabled" type="xs:boolean" />
							<xs:element name="weedsEnabled" type="xs:boolean" />
							<xs:element name="limeRequired" type="xs:boolean" />
							<xs:element name="isSnowEnabled" type="xs:boolean" />
							<xs:element name="fuelUsage" type="xs:unsignedByte" />
							<xs:element name="helperBuyFuel" type="xs:boolean" />
							<xs:element name="helperBuySeeds" type="xs:boolean" />
							<xs:element name="helperBuyFertilizer" type="xs:boolean" />
							<xs:element name="helperSlurrySource" type="xs:unsignedByte" />
							<xs:element name="helperManureSource" type="xs:unsignedByte" />
							<xs:element name="densityMapRevision" type="xs:unsignedByte" />
							<xs:element name="terrainTextureRevision" type="xs:unsignedByte" />
							<xs:element name="terrainLodTextureRevision" type="xs:unsignedByte" />
							<xs:element name="splitShapesRevision" type="xs:unsignedByte" />
							<xs:element name="tipCollisionRevision" type="xs:unsignedByte" />
							<xs:element name="placementCollisionRevision" type="xs:unsignedByte" />
							<xs:element name="navigationCollisionRevision" type="xs:unsignedByte" />
							<xs:element name="mapDensityMapRevision" type="xs:unsignedByte" />
							<xs:element name="mapTerrainTextureRevision" type="xs:unsignedByte" />
							<xs:element name="mapTerrainLodTextureRevision" type="xs:unsignedByte" />
							<xs:element name="mapSplitShapesRevision" type="xs:unsignedByte" />
							<xs:element name="mapTipCollisionRevision" type="xs:unsignedByte" />
							<xs:element name="mapPlacementCollisionRevision" type="xs:unsignedByte" />
							<xs:element name="mapNavigationCollisionRevision" type="xs:unsignedByte" />
							<xs:element name="difficulty" type="xs:unsignedByte" />
							<xs:element name="economicDifficulty" type="xs:unsignedByte" />
							<xs:element name="dirtInterval" type="xs:unsignedByte" />
							<xs:element name="timeScale" type="xs:decimal" />
							<xs:element name="autoSaveInterval" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="guidedTour">
					<xs:complexType>
						<xs:attribute name="active" type="xs:boolean" use="required" />
						<xs:attribute name="currentStepIndex" type="xs:unsignedByte" use="required" />
						<xs:attribute name="state" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="map">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="foundHelpIcons" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="statistics">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="money" type="xs:unsignedInt" />
							<xs:element name="playTime" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="slotSystem">
					<xs:complexType>
						<xs:attribute name="slotUsage" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="mapsSplitShapeFileIds">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id">
								<xs:complexType>
									<xs:attribute name="id" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="count" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="mod">
					<xs:complexType>
						<xs:attribute name="modName" type="xs:string" use="required" />
						<xs:attribute name="title" type="xs:string" use="required" />
						<xs:attribute name="version" type="xs:string" use="required" />
						<xs:attribute name="required" type="xs:boolean" use="required" />
						<xs:attribute name="fileHash" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="revision" type="xs:unsignedByte" use="required" />
			<xs:attribute name="valid" type="xs:boolean" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>