OF.FSimMan.Objects/Game/Fs/Fs22/SaveGame/farms.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="farms">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="farm">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="players">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="player">
											<xs:complexType>
												<xs:attribute name="uniqueUserId" type="xs:string" use="required" />
												<xs:attribute name="farmManager" type="xs:boolean" use="required" />
												<xs:attribute name="lastNickname" type="xs:string" use="required" />
												<xs:attribute name="timeLastConnected" type="xs:string" use="required" />
												<xs:attribute name="buyVehicle" type="xs:boolean" use="required" />
												<xs:attribute name="sellVehicle" type="xs:boolean" use="required" />
												<xs:attribute name="buyPlaceable" type="xs:boolean" use="required" />
												<xs:attribute name="sellPlaceable" type="xs:boolean" use="required" />
												<xs:attribute name="manageContracts" type="xs:boolean" use="required" />
												<xs:attribute name="tradeAnimals" type="xs:boolean" use="required" />
												<xs:attribute name="createFields" type="xs:boolean" use="required" />
												<xs:attribute name="landscaping" type="xs:boolean" use="required" />
												<xs:attribute name="hireAssistant" type="xs:boolean" use="required" />
												<xs:attribute name="resetVehicle" type="xs:boolean" use="required" />
												<xs:attribute name="manageProductions" type="xs:boolean" use="required" />
												<xs:attribute name="cutTrees" type="xs:boolean" use="required" />
												<xs:attribute name="manageRights" type="xs:boolean" use="required" />
												<xs:attribute name="transferMoney" type="xs:boolean" use="required" />
												<xs:attribute name="updateFarm" type="xs:boolean" use="required" />
												<xs:attribute name="manageContracting" type="xs:boolean" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="statistics">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="traveledDistance" type="xs:decimal" />
										<xs:element name="fuelUsage" type="xs:decimal" />
										<xs:element name="seedUsage" type="xs:decimal" />
										<xs:element name="sprayUsage" type="xs:decimal" />
										<xs:element name="workedHectares" type="xs:decimal" />
										<xs:element name="cultivatedHectares" type="xs:decimal" />
										<xs:element name="sownHectares" type="xs:decimal" />
										<xs:element name="sprayedHectares" type="xs:decimal" />
										<xs:element name="threshedHectares" type="xs:decimal" />
										<xs:element name="plowedHectares" type="xs:decimal" />
										<xs:element name="harvestedGrapes" type="xs:decimal" />
										<xs:element name="harvestedOlives" type="xs:decimal" />
										<xs:element name="workedTime" type="xs:decimal" />
										<xs:element name="cultivatedTime" type="xs:decimal" />
										<xs:element name="sownTime" type="xs:decimal" />
										<xs:element name="sprayedTime" type="xs:decimal" />
										<xs:element name="threshedTime" type="xs:decimal" />
										<xs:element name="plowedTime" type="xs:decimal" />
										<xs:element name="baleCount" type="xs:unsignedByte" />
										<xs:element name="breedCowsCount" type="xs:unsignedByte" />
										<xs:element name="breedSheepCount" type="xs:unsignedByte" />
										<xs:element name="breedPigsCount" type="xs:unsignedByte" />
										<xs:element name="breedChickenCount" type="xs:unsignedByte" />
										<xs:element name="breedHorsesCount" type="xs:unsignedByte" />
										<xs:element name="fieldJobMissionCount" type="xs:unsignedByte" />
										<xs:element name="fieldJobMissionByNPC" type="xs:unsignedShort" />
										<xs:element name="transportMissionCount" type="xs:unsignedByte" />
										<xs:element name="revenue" type="xs:decimal" />
										<xs:element name="expenses" type="xs:decimal" />
										<xs:element name="playTime" type="xs:decimal" />
										<xs:element name="plantedTreeCount" type="xs:unsignedByte" />
										<xs:element name="cutTreeCount" type="xs:unsignedByte" />
										<xs:element name="woodTonsSold" type="xs:decimal" />
										<xs:element name="treeTypesCut" type="xs:unsignedByte" />
										<xs:element name="petDogCount" type="xs:unsignedByte" />
										<xs:element name="repairVehicleCount" type="xs:unsignedByte" />
										<xs:element name="repaintVehicleCount" type="xs:unsignedByte" />
										<xs:element name="horseJumpCount" type="xs:unsignedByte" />
										<xs:element name="soldCottonBales" type="xs:unsignedByte" />
										<xs:element name="wrappedBales" type="xs:unsignedByte" />
										<xs:element name="tractorDistance" type="xs:decimal" />
										<xs:element name="carDistance" type="xs:decimal" />
										<xs:element name="truckDistance" type="xs:decimal" />
										<xs:element name="horseDistance" type="xs:decimal" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="finances">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="stats">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="newVehiclesCost" type="xs:decimal" />
													<xs:element name="soldVehicles" type="xs:decimal" />
													<xs:element name="newAnimalsCost" type="xs:decimal" />
													<xs:element name="soldAnimals" type="xs:decimal" />
													<xs:element name="constructionCost" type="xs:decimal" />
													<xs:element name="soldBuildings" type="xs:decimal" />
													<xs:element name="fieldPurchase" type="xs:decimal" />
													<xs:element name="fieldSelling" type="xs:decimal" />
													<xs:element name="vehicleRunningCost" type="xs:decimal" />
													<xs:element name="vehicleLeasingCost" type="xs:decimal" />
													<xs:element name="propertyMaintenance" type="xs:decimal" />
													<xs:element name="propertyIncome" type="xs:decimal" />
													<xs:element name="productionCosts" type="xs:decimal" />
													<xs:element name="soldWood" type="xs:decimal" />
													<xs:element name="soldBales" type="xs:decimal" />
													<xs:element name="soldWool" type="xs:decimal" />
													<xs:element name="soldMilk" type="xs:decimal" />
													<xs:element name="soldProducts" type="xs:decimal" />
													<xs:element name="purchaseFuel" type="xs:decimal" />
													<xs:element name="purchaseSeeds" type="xs:decimal" />
													<xs:element name="purchaseFertilizer" type="xs:decimal" />
													<xs:element name="purchaseSaplings" type="xs:decimal" />
													<xs:element name="purchaseWater" type="xs:decimal" />
													<xs:element name="purchaseBales" type="xs:decimal" />
													<xs:element name="purchasePallets" type="xs:decimal" />
													<xs:element name="harvestIncome" type="xs:decimal" />
													<xs:element name="incomeBga" type="xs:decimal" />
													<xs:element name="missionIncome" type="xs:decimal" />
													<xs:element name="wagePayment" type="xs:decimal" />
													<xs:element name="other" type="xs:decimal" />
													<xs:element name="loanInterest" type="xs:decimal" />
												</xs:sequence>
												<xs:attribute name="day" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="npcJobs">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="npc">
											<xs:complexType>
												<xs:attribute name="index" type="xs:unsignedByte" use="required" />
												<xs:attribute name="count" type="xs:unsignedByte" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="farmId" type="xs:unsignedByte" use="required" />
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="color" type="xs:unsignedByte" use="required" />
						<xs:attribute name="loan" type="xs:decimal" use="required" />
						<xs:attribute name="money" type="xs:decimal" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>