FSimMan.BusinessObjects/FS22/Mod/modDesc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="modDesc">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="en" type="xs:string" />
							<xs:element name="de" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="version" type="xs:string" />
				<xs:element name="author" type="xs:string" />
				<xs:element name="description">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="en" type="xs:string" />
							<xs:element name="de" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="multiplayer">
					<xs:complexType>
						<xs:attribute name="supported" type="xs:boolean" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="iconFilename" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="descVersion" type="xs:unsignedByte" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>